src/main/resources/xsd/auditorium.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="booking/auditorium" version="1.0">

  <xs:complexType name="auditorium">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="seatsNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="vipSeats" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" use="required"/>
  </xs:complexType>
</xs:schema>
