src/main/resources/xsd/schema5.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:auditorium="booking/auditorium" xmlns:event="booking/event" xmlns:user="booking/user" version="1.0">

  <xs:import namespace="booking/auditorium" schemaLocation="auditorium.xsd"/>

  <xs:import namespace="booking/event" schemaLocation="event.xsd"/>

  <xs:import namespace="booking/user" schemaLocation="user.xsd"/>

  <xs:element name="auditorium" type="auditorium:auditorium"/>

  <xs:element name="event" type="event:event"/>

  <xs:element name="user" type="user:user"/>



</xs:schema>
